$base-color: #68c2cb;
$second-color: #01304c;

:host {
  display: block;
  background-color: $base-color;
}
.h-custom {
  height: calc(100% - 73px);
}
.section-login{
  height: 100vh;
}
.form-label,a{
  color: $second-color;
}
@media (max-width: 995px) {
  .login-picture{
    display: none;
  }
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}